.main {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.status {
  width: 100%;
  max-width: 1080px;
  display: grid;
  gap: 5px;
}

.status div {
  font-size: 24px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgba(var(--callout-rgb), 0.6);
  border: solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.outputs {
  width: 100%;
  max-width: 1080px;
  display: grid;
  gap: 5px;
}

.outputs div {
  font-size: 24px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgba(var(--callout-rgb), 0.6);
  border: solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.inputs {
 width: 100%;
 max-width: 1080px;
 display: grid;
 gap: 5px;
}

.inputs input {
  font-size: 24px;
  display: flex;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: rgba(var(--callout-rgb), 0.6);
  border: solid rgba(var(--callout-border-rgb), 1.0);
  padding: 1rem;
}

.buttons {
  width: 100%;
  max-width: 1080px;
  display: grid;
  gap: 5px;
}

.buttons button {
  width: 100%;
  font-size: 24px;
  border-radius: var(--border-radius);
  background-color: rgba(var(--callout-rgb), 1.0);
  border: solid rgba(var(--callout-border-rgb), 1.0);
  padding: 1rem;
}
